BODY {
PADDING-BOTTOM:0px;MARGIN:8px 0px;PADDING-LEFT:0px;PADDING-RIGHT:0px;BACKGROUND:url(http://l.yimg.com/e/style/10/1084/1596523068.jpg) fixed center top;PADDING-TOP:0px;}
BODY {
TEXT-ALIGN:right;FONT:12px/150% Verdana, Arial, Helvetica, sans-serif;COLOR:#666666;}
.small-c {
TEXT-ALIGN:right;FONT:12px/150% Verdana, Arial, Helvetica, sans-serif;COLOR:#666666;}
TABLE {
TEXT-ALIGN:right;FONT:12px/150% Verdana, Arial, Helvetica, sans-serif;COLOR:#666666;}
B {
TEXT-ALIGN:right;FONT:12px/150% Verdana, Arial, Helvetica, sans-serif;COLOR:#666666;}
INPUT.small-c {
TEXT-ALIGN:center;COLOR:#000000;}
A {
COLOR:#b278c3;TEXT-DECORATION:none;}
A:hover {
COLOR:#ffff00;TEXT-DECORATION:underline;}
#banner {
PADDING-BOTTOM:0px;PADDING-LEFT:0px;PADDING-RIGHT:0px;BACKGROUND:no-repeat 60px top;PADDING-TOP:10px;}
#banner A {
LINE-HEIGHT:24px;FONT-SIZE:24px;FONT-WEIGHT:bold;}
#banner A:hover {
COLOR:#ffff00;}
.sidetitle {
PADDING-BOTTOM:0px;PADDING-LEFT:0px;PADDING-RIGHT:0px;BACKGROUND:url(http://f6.wretch.yimg.com/leepeihsuam/12/1188632694.jpg?uMZDhbhDdR6xxFY.9ie_RHT9iV.bZ8eFVbKIsRvIb5_hbTR2jhALwz6RgPY1cg--) #ff6699 no-repeat center bottom;HEIGHT:130px;VERTICAL-ALIGN:top;OVERFLOW:hidden;PADDING-TOP:0px;}
#MySpace {
PADDING-BOTTOM:5px;PADDING-LEFT:0px;PADDING-RIGHT:0px;PADDING-TOP:0px;}
#rss {
PADDING-BOTTOM:0px;PADDING-LEFT:0px;PADDING-RIGHT:0px;PADDING-TOP:5px;}
.side {
WIDTH:120px;BACKGROUND:url(http://l.yimg.com/e/style/10/1084/1596523066.jpg) no-repeat left top;HEIGHT:145px;}
#banner A {
COLOR:#9933ff;}
#banner A:link {
COLOR:#9933ff;}
#banner A:visited {
COLOR:#9933ff;}
#banner A:active {
COLOR:#9933ff;}
.description {
BACKGROUND-COLOR:#333333;}
BODY {
COLOR:#ffffff;}
A {
COLOR:#660099;}
A:link {
COLOR:#660099;}
A:visited {
COLOR:#660099;}
A:active {
COLOR:#660099;}
BODY {
COLOR:#9900cc;}
BODY {
COLOR:#666666;}
BODY {
COLOR:#000000;}