/*reset*/
html{color:#444;background:#fff;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;font-variant:normal;}sup {vertical-align:text-top;}sub {vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}
/*font*/
body {padding:0;margin:0;text-align:center;font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}

*html span{vertical-align:bottom;}
/**/
#navigation,
#banner,
#service_link,
#access_link,
#main_tab,
.page_control,
.msg_body ul,
#sidebar ul,
#msg_input{
	list-style:none;
	padding:0px;
	margin:0px;
	vertical-align: top;
}
#main_tab,
ul.page_control{zoom:1}
#main_tab:after,
ul.page_control:after
{
content:".";
clear:both;
display:block;
visibility:hidden;
height:0
}

#navigation li,
#service_link li,
#access_link li,
#main_tab li,
.page_control li,
.msg_control li{
	display:inline;
	text-align:left;
}
.msg_control{
	text-align:center;
}
/*header*/

#container{
	text-align:left;
	width:900px;
	margin:0px auto;
}

#navigation{
	text-align:right;
}
#navigation a{zoom:1}

/*main*/
#main{
	float:left;
	margin:0px;
}
#content{
	width:600px;
	float:left;
}
.page_control{
	clear:both;
  padding:10px 0;
}
.page_control a{margin:0 2px;}

/*sidebar*/
#sidebar{
	float:right;
	width:300px;
	text-align:left;
}
#action a{zoom:1}
#action a.rss img{vertical-align:middle;*vertical-align:top;}

/*footer*/
#footer{
	clear:both;
}

/*button1107*/
/*clearfix*/
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

#admin a:link,#admin a:visited{
		color:#334455 !important;
		cursor:pointer;
		float:left;
		font-size:12px;
		margin:0 10px 5px 0;
		outline:none;
		text-decoration:none;
	}
#admin a b{
		display:block; 
		float:left; 
		font-weight:normal; 
		position:relative;
		background: #fff url(http://l.yimg.com/e/serv/common/img/button_admin.gif) repeat-x left bottom;
		border-style: solid;
		border-color:  #ccc #999 #999 #ccc;
		border-width: 1px 0;
	}
#admin a b b{
		background: none; 
		display:block; 
		position:relative; 
		margin:0 -1px; 
		border-width: 0 1px
	}
#admin a b b b {
		margin:0; 
		border-width:0; 
		padding:3px 5px 2px;
	}


/*** msg_social_tab  ***/
#socialSection{
        position:relative;
}
#sub_tab_social{
        padding:5px;
}
#sub_tab_social li{
        display:inline;
}
#sub_tab_social li a{
        display:block;
        width:60px;
        text-align:center;
        height:25px;
        padding:6px 0px 0px 0px;
        text-decoration:none;
        color:#666;
        float:left;
        background:url(http://l.yimg.com/f/i/tw/wretch/vitality/btn_social.jpg) no-repeat left top;
}
#sub_tab_social li.hover a,
#sub_tab_social li a:hover{
        color:#f30;
}


/*** msg_social_list  ***/
#msg_social_list{
        clear:both;
}
#msg_social_list .msg_body{
        position:relative;
        margin:0px;
        padding:5px 0px 30px 0px;
}
#msg_social_list .msg_body .msg_content{
        background:none;
}
#msg_social_list .msg_body .msg_content ul{
        margin:0;
        padding:0 0 0 80px;
}
#msg_social_list .msg_body .msg_img {
        display:block;
        width:60px;
        height:60px;
        overflow:hidden;
        position:absolute;
        top:1px;
        left:5px;
}
#msg_social_list .msg_body .msg_img img{
        height:60px;
}
#msg_social_list .msg_body .msg_word {
        background:none;
        padding:0px;
}
#msg_social_list .msg_body .msg_word a {
  padding-right: 10px;
}
#msg_social_list .msg_body .msg_word a.upload_folder {
  padding-left: 10px;
}
#msg_social_list .msg_time {
  text-align: right;
  margin-right: 40px;
}
#msg_social_list .msg_delete {
  float: right;
  margin-top: -20px;
  _float: none;
  _text-align: right;
  _margin-top: -25px;
  _height: 25px;
}
#msg_social_list .msg_delete a{
        display:block;
        width:34px;
        height:22px;
        text-align:center;
        text-decoration:none;
        color:#666;
        padding:3px 0px 0px 0px;
        background:url(http://l.yimg.com/f/i/tw/wretch/vitality/btn_delete.jpg) no-repeat left top;
}
#msg_social_list .msg_delete a:hover{
        color:#f30;
}
#social_more{
        text-align:center;
}
a#social_more_link{
        margin:0px auto;
        display:block;
        width:50px;
        height:25px;
        text-align:center;
}



