BODY {
SCROLLBAR-FACE-COLOR:#fafad2;BACKGROUND:#000000 fixed no-repeat center top;SCROLLBAR-HIGHLIGHT-COLOR:#ffffff;SCROLLBAR-SHADOW-COLOR:#bbb;SCROLLBAR-3DLIGHT-COLOR:#ffffff;SCROLLBAR-ARROW-COLOR:#eeb422;SCROLLBAR-TRACK-COLOR:#ffffff;SCROLLBAR-DARKSHADOW-COLOR:#ffffff;}
A {
FONT-WEIGHT:normal;FONT-SIZE:12px;CURSOR:default;COLOR:#999966;FONT-FAMILY:verdana, arial, sans-serif;TEXT-DECORATION:none;}
A:link {
FONT-WEIGHT:normal;COLOR:#ff3366;TEXT-DECORATION:none;}
A:visited {
FONT-WEIGHT:normal;COLOR:#ff3366;TEXT-DECORATION:none;}
A:active {
FONT-WEIGHT:normal;COLOR:#ff3366;}
A:hover {
FONT-WEIGHT:normal;COLOR:#ffffff;TEXT-DECORATION:underline;}
#banner {
PADDING-LEFT:19px;FONT-WEIGHT:bold;FONT-SIZE:9pt;BACKGROUND:no-repeat center top;COLOR:#666666;PADDING-TOP:45px;FONT-STYLE:normal;FONT-FAMILY:verdana, arial, sans-serif;HEIGHT:150px;TEXT-ALIGN:center;}
#banner A {
FONT-WEIGHT:bold;FONT-SIZE:9pt;COLOR:#fff;FONT-FAMILY:verdana, arial, sans-serif;TEXT-DECORATION:none;}
#banner A:link {
FONT-WEIGHT:bold;FONT-SIZE:large;COLOR:#ffff00;FONT-FAMILY:verdana, arial, sans-serif;TEXT-DECORATION:none;}
#banner A:visited {
FONT-WEIGHT:bold;FONT-SIZE:large;COLOR:#ffff00;FONT-FAMILY:verdana, arial, sans-serif;TEXT-DECORATION:none;}
#banner A:active {
FONT-WEIGHT:bold;FONT-SIZE:large;COLOR:#ffff00;FONT-FAMILY:verdana, arial, sans-serif;TEXT-DECORATION:none;}
#banner A:hover {
FONT-SIZE:large;COLOR:#ffffff;}
.descrxption {
MARGIN-TOP:30px;FONT-WEIGHT:normal;FONT-SIZE:9pt;BACKGROUND:none transparent scroll repeat 0% 0%;TEXT-TRANSFORM:none;COLOR:#ff6600;PADDING-TOP:500px;FONT-FAMILY:verdana, arial, sans-serif;TEXT-ALIGN:left;}
.side {
BORDER-TOP-WIDTH:thin;PADDING-RIGHT:7px;MARGIN-TOP:7px;PADDING-LEFT:7px;FONT-WEIGHT:normal;BORDER-LEFT-WIDTH:thin;FONT-SIZE:9pt;BORDER-LEFT-COLOR:#ff0000;BORDER-BOTTOM-WIDTH:thin;BORDER-BOTTOM-COLOR:#0033ff;PADDING-BOTTOM:7px;COLOR:#ffffff;BORDER-TOP-COLOR:#0033ff;PADDING-TOP:7px;FONT-FAMILY:verdana, arial, sans-serif;HEIGHT:20px;BACKGROUND-COLOR:#ff3366;TEXT-ALIGN:left;BORDER-RIGHT-WIDTH:thin;BORDER-RIGHT-COLOR:#ff0000;}
.sidetitle {
BORDER-TOP-WIDTH:thick;PADDING-RIGHT:1px;MARGIN-TOP:20px;PADDING-LEFT:10px;FONT-WEIGHT:normal;BORDER-LEFT-WIDTH:thick;FONT-SIZE:9pt;BORDER-LEFT-COLOR:#ffffff;BORDER-BOTTOM-WIDTH:thick;BORDER-BOTTOM-COLOR:#ffffff;PADDING-BOTTOM:7px;WIDTH:70px;COLOR:#ffff00;BORDER-TOP-COLOR:#ffffff;PADDING-TOP:7px;FONT-FAMILY:verdana, arial,;BACKGROUND-COLOR:#ff3366;TEXT-ALIGN:center;BORDER-RIGHT-WIDTH:thick;BORDER-RIGHT-COLOR:#ffffff;}
.powered {
PADDING-RIGHT:2px;MARGIN-TOP:20px;PADDING-LEFT:2px;FONT-SIZE:10px;BACKGROUND:none transparent scroll repeat 0% 0%;PADDING-BOTTOM:2px;TEXT-TRANSFORM:uppercase;COLOR:#f8c753;LINE-HEIGHT:140%;PADDING-TOP:30px;TEXT-ALIGN:center;}
.input {
BORDER-RIGHT:#e3ad44 1px solid;BORDER-TOP:#e3ad44 1px solid;FONT-WEIGHT:normal;FONT-SIZE:10pt;BORDER-LEFT:#e3ad44 1px solid;COLOR:#666;BORDER-BOTTOM:#e3ad44 1px solid;FONT-FAMILY:verdana, arial, sans-serif;BACKGROUND-COLOR:#fff;}
SELECT {
BORDER-RIGHT:#e3ad44 1px solid;BORDER-TOP:#e3ad44 1px solid;FONT-WEIGHT:normal;FONT-SIZE:10pt;BORDER-LEFT:#e3ad44 1px solid;COLOR:#666;BORDER-BOTTOM:#e3ad44 1px solid;FONT-FAMILY:verdana, arial, sans-serif;BACKGROUND-COLOR:#fff;}
TEXTAREA {
BORDER-RIGHT:#e3ad44 1px solid;BORDER-TOP:#e3ad44 1px solid;FONT-WEIGHT:normal;FONT-SIZE:10pt;BORDER-LEFT:#e3ad44 1px solid;COLOR:#666;BORDER-BOTTOM:#e3ad44 1px solid;FONT-FAMILY:verdana, arial, sans-serif;BACKGROUND-COLOR:#fff;}
TD {
FONT-SIZE:9pt;COLOR:#666666;FONT-FAMILY:verdana, arial, sans-serif;LETTER-SPACING:1px;TEXT-ALIGN:center;}
TABLE {
PADDING-RIGHT:3px;PADDING-LEFT:3px;BACKGROUND:none transparent scroll repeat 0% 0%;WIDTH:375px;BORDER-TOP-STYLE:none;PADDING-TOP:3px;BORDER-RIGHT-STYLE:none;BORDER-LEFT-STYLE:none;BORDER-BOTTOM-STYLE:none;}
BODY {
COLOR:#000000;}
INPUT {
FONT-SIZE:9pt;COLOR:#000000;FONT-FAMILY:verdana;BACKGROUND-COLOR:#ffffff;}
SELECT {
FONT-SIZE:9pt;COLOR:#000000;FONT-FAMILY:verdana;BACKGROUND-COLOR:#ffffff;}
BODY {
SCROLLBAR-FACE-COLOR:#fff;SCROLLBAR-HIGHLIGHT-COLOR:#fff;SCROLLBAR-SHADOW-COLOR:#fff;SCROLLBAR-3DLIGHT-COLOR:#fff;SCROLLBAR-ARROW-COLOR:#000000;SCROLLBAR-TRACK-COLOR:#fff;SCROLLBAR-DARKSHADOW-COLOR:#fff;}
HTML {
SCROLLBAR-FACE-COLOR:#fff;SCROLLBAR-HIGHLIGHT-COLOR:#000;SCROLLBAR-SHADOW-COLOR:#000;SCROLLBAR-3DLIGHT-COLOR:#fff;SCROLLBAR-ARROW-COLOR:#fff;SCROLLBAR-TRACK-COLOR:#fff;SCROLLBAR-DARKSHADOW-COLOR:#fff;}

.description {
FONT-WEIGHT:bold;FONT-SIZE:small;FONT-STYLE:normal;BACKGROUND-COLOR:#ffffff;}

BODY {
COLOR:#ffffff;}